h1, p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: 'Playfair Display SC', serif;
    font-size: 60px;
    font-style: bold;

}

h2, p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    font-style: italic;
    
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.form1 {
    margin-right: auto;
    margin-left: auto;
    top: 50px;
    width: 550px;
}

.radio {
    padding-top: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-spacing: 20px;
  }